@import "./variables.scss";
@import "./mediaQuery";
@import "./reuseables";

.navbarContainer {
    padding-top: 16px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 48px;
        height: 48px;
        z-index: 2;
    }

    &__navLinksSection {
        display: flex;
        align-items: center;
        gap: 32px;
        z-index: 2;
        .navLinks {
            display: flex;
            align-items: center;
            gap: 16px;
            li {
                list-style: none;
                cursor: pointer;
                color: $white;
                font-size: 14px;
                transition: all 300ms ease;
                &:hover {
                    color: $primary-color;
                }
            }
        }
        button {
            @include medium-button;
        }
    }

    &__menuIcon {
        // background-color: #fff;
        z-index: 2;
        svg {
            display: block;
            height: 30px;
            width: 30px;
        }
    }

    .mobileNavContainer {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        // background-color: #fff;
        background: rgba(59, 57, 57, 0.7);
        backdrop-filter: blur(45px);
        // display: block;
        z-index: 10;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        @-webkit-keyframes slide-bottom {
            from {
                opacity: 0;
                right: -100%;
            }
        }
        @keyframes slide-bottom {
            from {
                opacity: 0;
                right: -100%;
            }
        }

        &__topArea {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .logo {
                width: 48px;
                height: 48px;
            }
            .closeIcon {
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &__navigationLinks {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 24px;
            width: 100%;
            height: 80%;
            .navLinks {
                li {
                    list-style: none;
                    color: $white;
                    text-align: center;
                    // border: 1px solid;
                    padding: 12px;
                    margin-bottom: 32px;
                    font-size: 20px;
                }
            }
            .cta {
                button {
                    @include big-button;
                }
            }
        }
    }
}
